<?xml version="1.0" encoding="utf-8"?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<title>Teh Bst Site In Teh Wrld! - Aktualności</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
   	<meta http-equiv="Content-Style-Type" content="text/css" />
	{% load staticfiles %}
	<link rel="Stylesheet" type="text/css" href='{% static "problog/style.css" %}' />
</head>
<body>
	<center>
		
	
	<div id="MENU">
		<div id="ELEMENTY_MENU">
			<b>
			    <a class="link" href="{% url 'microblog.views.index' %}">Wpisy</a>
                <a class="link" href="{% url 'microblog.views.filter' %}">Filtruj</a>
                {% if zalogowany == "True" %}
                    <a class="link" href="{% url 'microblog.views.dodaj' %}">Dodaj wpis</a>
                    <a class="link" href="{% url 'microblog.views.logout' %}">Wyloguj</a>
                {% else %}
                    <a class="link" href="{% url 'microblog.views.login' %}">Zaloguj</a>
                {% endif %}
                <a class="link" href="{% url 'microblog.views.register' %}">Zarejestruj</a>
            </b>
		</div>
	</div>
	<div id="TRESC">
		<div id="TRESC_GLOWNA">
            <center>
			    <form method="POST" action="{% url 'microblog.views.add' %}">{% csrf_token %}
                {{ forma.as_p }}
                <input type="submit" value="Dodaj"/>
            </form>
            </center>
		</div>
	</div>
	</center>
</body>
</html>
