{% block content %}
{% for wpis in wpisy %}
        <div>
            <div class="tresc">
                {{ wpis.tresc }}
            </div>
            <div class="autor_data">
                <u><b>{{ wpis.data }}&nbsp{{ wpis.autor }}</b></u>
            </div>
        </div>
{% endfor %}
{% endblock %}